@model IEnumerable<UmTempoEmCasa.Models.Imovel>

@{
    ViewData["Title"] = "Index";
}

<div class="container formulario">

    <h1>Lista de Imóvel</h1>
    <p>
        <a asp-action="Create">Adicionar novo Imóvel</a>
    </p>
    <table class="table table-sucess table-striped" style="background-color: white; text-align: center;">
        <thead class="formulario">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Anfitrioes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cep)
                </th>
                <th>Alterar</th>
                <th>Detalhes</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Anfitrioes.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ImovelID">Alterar</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ImovelID">Detalhes</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ImovelID">Excluir</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>