@model IEnumerable<UmTempoEmCasa.Models.Reserva>

@{
    ViewData["Title"] = "Index";
}

<div class="container formulario">

    <h1>Lista de Reservas</h1>
    <p>
        <a asp-action="Create">Adicionar nova Reserva</a>
    </p>
    <table class="table table-sucess table-striped" style="background-color: white; text-align: center;">
        <thead class="formulario">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Refugiados)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anuncios)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFim)
                </th>
                <th>Alterar</th>
                <th>Detalhes</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Refugiados.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Anuncios.AnuncioID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFim)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReservaID">Alterar</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReservaID">Detalhes</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.ReservaID">Excluir</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>