@model IEnumerable<UmTempoEmCasa.Models.Anuncio>

@{
    ViewData["Title"] = "Index";
}

<div class="container formulario">

    <h1>Lista de Anúncios</h1>
    <p>
        <a asp-action="Create">Adicionar novo Anúncio</a>
    </p>
    <table class="table table-sucess table-striped" style="background-color: white; text-align: center;">
        <thead class="formulario">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Imovel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.inicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.valor)
                </th>
                <th>Alterar</th>
                <th>Detalhes</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Imovel.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AnuncioID">Alterar</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AnuncioID">Detalhes</a> 
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.AnuncioID">Excluir</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>